includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- ../../../phpstan/phpstan-strict-rules/rules.neon
parameters:
	level: 9
	paths:
		- ../src
		- ../tests
	checkBenevolentUnionTypes: true
	checkImplicitMixed: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	rememberPossiblyImpureFunctionValues: false
	reportAlwaysTrueInLastCondition: true
